*{
    box-sizing: border-box;
    overflow: auto;
    margin: 0;
}

body{
    width: 100vw;
    height: 100vh;

    background-color: white;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.loginBox{
    width: 40%;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    text-align: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: 1rem;

    background-color: rgb(243, 243, 243);
}

h2{
    width: 100%;

    color: black;
    font-weight: bolder;
}

.buttonLogin{
    padding: 0.4rem;
    font-weight: bold;
}

.buttonLogin:hover{
    background-color: brown;
    color: white;
}

.welcomeUser{
    color: green;
    font-weight: bolder;
    font-size: 1.6rem;
}
