* {
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;

    gap: 1rem;

    background-color: black;
}

h1 {
    align-self: center;

    color: white;
    font-size: 2rem;
}

.botones {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;

    gap: 1rem;
}

input {
    padding: 0.4rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10px;
}

button {
    padding: 0.4rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

.numlist {
    list-style: inside;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
}

li {
    margin-right: 40px;

    color: white;
    font-size: 1.4rem;
    font-weight: 700;
}

.resultadoFinal {
    color: white;
    font-size: 2rem;
    font-weight: bold;
}
