* {
    margin: 0;
    box-sizing: border-box;
}

main{
    height: 100vh;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    background-color: black;

    gap: 1rem;
}

h1{
    color: white;
}

.sectionQuiz{
    min-height: 20%;
    max-width: 70%;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    gap: 1rem;
    padding: 1rem;

    background-color: beige;
    border-radius: 1rem;
}

.singleQuestion{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    gap: 0.6rem;
    text-align: center;
}

.nextQ{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.selectAnswers{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.singleAnswer{
    display: flex;
    flex-flow: row nowrap;

    gap: 0.6rem;
}

.sectionButtons{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    padding: 1rem;
}

button{
    padding: 0.4rem;
    font-weight: bolder;
}

button:hover{
    background-color: black;
    color: white;
}


.btnQuiz{
    display: none;
}

.btnResults{
    background-color: brown;
    color: white;
}