* {
    margin: 0;
    overflow: auto;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    background-color: black;
}

.usersBox{
    width: 80%;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    gap: 1rem;
    padding: 1rem;
    background-color: gainsboro;

}

h2{
    width: 100%;
    text-align: center;
}

input{
    width: 50%;
}

.usersList{
    width: 90%;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    background-color: black;
    padding: 1rem;
    gap: 1rem;
}

p{
    width: 100%;

    color: greenyellow;
}