* {
    margin: 0;
    overflow: auto;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    background-color: black;
}

main {
    width: 100vw;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;

    padding: 0.6rem;
    gap: 1rem;
}

.dbList{
    width: 100%;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;

    gap: 1rem;
    padding: 1rem;
}

h1{
    width: 100%;

    align-self: center;
    text-align: center;
    color: orange;
    font-weight: bold;
}

p{
    text-align: center;
    font-weight: bold;
    color: orange;
}

img{
    align-self: center;
    max-height: 200px;
    margin: 30px;
}

img:hover{
    transition: 1s;
    transform: scale(1.2);
}

.dbCharacter{
    width: 30%;
    min-width: 250px;

    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: space-evenly;
    flex-grow: 1;

    gap: 1rem;
    padding: 1rem;

    border: 2px solid orange;
    border-radius: 1rem;
    background-color: rgb(54, 53, 53);
}

