$default_time_transition: 0.3s;

.headerContainer{
    width: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.headerContainer-dark{
    background-color: rgb(56, 56, 56);
    transition: $default_time_transition;
}

.headerContainer-light{
    background-color: orange;
    transition: $default_time_transition;
}

.headerTitle{
    font-weight: bolder;
    font-size: 2rem;
}

.headerTitle-dark{
    color: white;
    transition: $default_time_transition;
}

.headerTitle-light{
    color: black;
    transition: $default_time_transition;
}

a:visited{
    color: inherit;
}

.headerNav{
    display: flex;
    gap: 1rem;

    font-weight: bold;
}

.headerNav-dark{
    color: white;
    transition: $default_time_transition;
}


.headerNav-light{
    color: black;
    transition: $default_time_transition;
}

.themeBtn{
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.themeBtn:hover{
    transform: scale(1.1);
    transition: $default_time_transition;
}

.themeBtn-dark{
    color: white;
    background-color: black;

}
