* {
    margin: 0;
    overflow: auto;
    box-sizing: border-box;
}

main {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;

    background-color: #fafafa;
}

.boxConsult {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-content: center;

    padding: 1.2rem;
    gap: 1.6rem;
    background-color: white;
    border: 1px solid gainsboro;
    border-radius: 1rem;
}

.butSubmit {
    background-color: #ee2c3c;
    color: white;
    padding: 0.6rem;
    border-radius: 0.4rem;
}

h3 {
    width: 100%;
    font-size: 1.1rem;
    font-weight: bold;
}

input {
    width: 100%;

    margin-bottom: 40px;
    padding: 0.6rem;
    border: 1px solid gainsboro;
    border-radius: 0.4rem;
}

input:placeholder-shown {
    color: gray;
}

a {
    font-weight: bold;
}

p {
    width: 70%;

    align-self: center;
    text-align: center;
    font-size: 0.8rem;
    color: gray;
}
