$pokemon-card-width: 200px;

.characterBox{
    width: $pokemon-card-width;
    max-width: 480px;

    flex-grow: 1;

    padding: 1rem;
    gap: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 0.4rem;
}

.characterBox:hover{
    transform: scale(1.05);
    transition: 0.6s;
}

.characterBox-dark{
    background-color: rgb(56, 56, 56);
    transition: 0.3s;
}

.characterBox-light{
    background-color: whitesmoke;
    transition: 0.3s;
}

.characterName{
    font-family:'Courier New', Courier, monospace;
    font-weight: bolder;
}

.characterName-dark{
    color: white;
}

.characterName-light{
    color: black;
}

.characterImg{
    height: 140px;
}